img {
    width: 200px;
    height: 300px;
    border: 70px solid transparent;
    margin-left: 30px;
    margin-top: 30px;
    border-image: url(frame1.jpg) 13% 17% 14% 15%;

}

img#translate {
    width: 200px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
    border: 70px solid transparent;
    border-image: url(frame1.jpg) 13% 17% 14% 15%;
    transform:translate(80px,200px )
    
}